RewriteEngine On
RewriteBase /

### Canonizar las URL de codeigniter
# Si tu controlador predeterminado es distinto de
# "welcome" deberías cambiar esto
#RewriteRule ^(pages(/index)?|index(\.php)?)/?$ / [L,R=301]
#RewriteRule ^(.*)/index/?$ $1 [L,R=301]

RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 
 
# Elimina las barras finales(evita los problemas de contenido duplicados de SEO)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ $1 [L,R=301]
 
# Aplicar www
# Si tienes subdominios, puede agregarlos a
# la lista utilizando el operador "|"
RewriteCond %{HTTP_HOST} !^(www|admin) [NC]
RewriteRule ^(.*)$ http://www.lemonclub.com.ar/$1 [L,R=301]

# Mandar a HTTPS
#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteBase /
RewriteCond %{THE_REQUEST} index\.php
RewriteRule ^index\.php$ http://www.lemonclub\.com\.ar/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index\.php [L]

# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 week"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/plain "access plus 1 week"
    ExpiresByType image/gif "access plus 1 week"
    ExpiresByType image/png "access plus 1 week"
    ExpiresByType image/jpeg "access plus 1 week"
    ExpiresByType application/x-javascript "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES
